{% extends "layout.html" %}

{% block content %}
  <section class="card">
    <h2>Тест</h2>
    <form method="post">
      {% for item in questions %}
        {% set q_index = loop.index0 %}
        <fieldset>
          <legend>{{ loop.index }}. {{ item.question }}</legend>
          {% for option in item.options %}
            <label class="option">
              <input
                type="radio"
                name="question-{{ q_index }}"
                value="{{ option }}"
                required
              />
              {{ option }}
            </label>
          {% endfor %}
        </fieldset>
      {% endfor %}
      <button type="submit">Отправить</button>
    </form>
  </section>
{% endblock %}
