{% extends "layout.html" %}

{% block content %}
  <div class="card">
    <h2>{{ task.title }}</h2>
    <p>{{ task.description }}</p>
    <form method="post">
      {% for question in questions %}
        {% set question_index = loop.index0 %}
        <fieldset>
          <legend>{{ question.question }}</legend>
          {% for option in question.options %}
            <label class="option">
              <input
                type="radio"
                name="question-{{ question_index }}"
                value="{{ option }}"
                id="question-{{ question_index }}-option-{{ loop.index0 }}"
                {% if loop.first %}required{% endif %}
              />
              <span>{{ option }}</span>
            </label>
          {% endfor %}
        </fieldset>
      {% endfor %}
      <button type="submit">Отправить ответы</button>
    </form>
  </div>
{% endblock %}
