{% extends "layout.html" %}

{% block content %}
  <div class="card">
    <h2>Новая тема</h2>
    <form method="post">
      <label>
        Название темы
        <input type="text" name="title" required />
      </label>
      <label>
        Курс
        <select name="course_id">
          {% for course in courses %}
            <option value="{{ course.id }}">{{ course.title }}</option>
          {% endfor %}
        </select>
      </label>
      <label>
        Описание темы
        <input type="text" name="description" required />
      </label>
      <label>
        Концепт для адаптации
        <input type="text" name="concept" />
      </label>
      <label>
        Базовый материал для темы (будет использоваться в персональных рекомендациях)
        <textarea name="material_content" rows="6"></textarea>
      </label>
      <button type="submit">Сохранить</button>
    </form>
  </div>
{% endblock %}
